<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1><br>
  <h2>PLEASE CLICK THE FOLLOWING BUTTON TO START AND DO NOT CLOSE THE OPENING PAGE!</h2>
  <button mat-fab class="btn" ><a mat-menu-item style="font-size: 30px; color: rgb(153, 67, 120);" href="http://localhost:8080" target = "http://localhost:8080">CLICK ME!</a></button>
  <h2>AND THEN USE THE SIDE MENU TO VIEW DASHBOARD AND MESSAGES</h2>
  <h2>USE THE SERVERS BUTTON TO SEND MESSAGE</h2>
  <h2>PLEASE RELOAD THE PAGE AFTER SENDING NEW MESSAGES</h2>
</div>

