<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="''">Home</a>
      <a mat-list-item [routerLink]="'dashboard'">Dashboard</a>
      <a mat-list-item [routerLink]="'messages'">Messages</a>     
      <a mat-menu-item [matMenuTriggerFor]="servers">SERVERS</a>
      <mat-menu #servers="matMenu">
        <a mat-menu-item href="http://localhost:8081" target = "http://localhost:8081">Server İstanbul</a>
        <a mat-menu-item href="http://localhost:8082" target = "http://localhost:8082">Server Tokyo</a>
        <a mat-menu-item href="http://localhost:8083" target = "http://localhost:8083">Server Moscow</a>
        <a mat-menu-item href="http://localhost:8084" target = "http://localhost:8084">Server Beijing</a>
        <a mat-menu-item href="http://localhost:8085" target = "http://localhost:8085">Server London</a>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>KAFKA BIG DATA APPLICATION</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
